###################
###### FILES ######
###################

# File Containing Variables
ApplicationInventory.ps1



#####################
###### FOLDERS ######
#####################

# VSCode Debugging
.vscode/